@use './variables/colors';
* {
  color: colors.$primary-light;
}

body {
  background-color: colors.$primary-dark;
}

button {
  border: none;
  background-color: colors.$secondary-dark;
  padding: 1em;
  &:hover {
    background-color: colors.$primary-dark;
  }
}
.todo__form,
.edit__form {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.task {
  background-color: colors.$accent-orange;
  border: 2px solid;
  padding: 1em 1em;
}
form {
  display: flex;
  align-items: center;
}
input,
select {
  padding: 1em;
}
